<div class="row text-right">
  <div class="col-xs-12 social_media">
    <a href="#"><i class="fa fa-linkedin-square fa-3x"></i></a>
    <a href="#"><i class="fa fa-google-plus-square fa-3x"></i></a>
    <a href="#"><i class="fa fa-pinterest-square fa-3x"></i></a>
    <a href="#"><i class="fa fa-instagram fa-3x"></i></a>
    <a href="#"><i class="fa fa-youtube-square fa-3x"></i></a>
    <a href="#"><i class="fa fa-vimeo-square fa-3x"></i></a>
    <a href="#"><i class="fa fa-twitter-square fa-3x"></i></a>
    <a href="#"><i class="fa fa-facebook-official fa-3x"></i></a>
  </div>
</div>

