
<h1 id="title">Welcome</h1>

{{lorem-ipsum length=250}}

{{placehold-it width=300 height=300 
               textColor='111111' 
               class='img-responsive'}}

<button type="button" class="btn btn-default btn-lg">
  <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Star
</button>

